<div id="<%= dom_id program %>">
  <p>
    <strong>University:</strong>
    <%= program.university_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= program.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= program.description %>
  </p>

  <p>
    <strong>Beca:</strong>
    <%= program.beca %>
  </p>

</div>
